extends layout

block content
  h1 Browser detection
  p This is the current browser you are using :
  div(class="browser" id="browser")
  div(class="cred") Little app using bowser (thank to bower) built by &nbsp;
    a(href="https://github.com/PBRT" target="_blank") PBRT
