doctype html
html
  head
    title Browser Detection
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/bowser/bowser.js')
    script(src='/javascripts/script.js')
  body
    block content
